[Unit]
Description=Abelujo Queue

[Service]
Restart=on-failure
WorkingDirectory={{ abelujo_path_repo }}
ExecStart={{ abelujo_path_virtualenv }}/bin/{{ abelujo_python }} manage.py qcluster

[Install]
WantedBy=multi-user.target
